<div class="bg-gray-800 md:flex md:justify-between md:items-center md:px-4 md:py-3">
    <div>
        <img src="instagram.png" alt="Instagram Icon" class="w-6 h-6"/>
    </div>
    <nav class="px-2 pt-2 pb-4 md:flex md:p-0 max-h[120px]">
        <!-- <a href="" class="block px-4 py-2 text-gray-100 hover:bg-amber-500 mr-4">Dasboard</a> -->
        <a href="/" class="text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
        <!-- <a href="/tracks" class="text-white px-3 py-2 rounded-md text-sm font-medium">Tracks</a> -->
        <div class="relative mt-2 md:mt-0">
            <button class="text-white bg-gray-600 hover:bg-gray-500 focus-outline-none px-4 py-2 rounded-md inline-flex items-center" (click)="navigateToAdmin()">
                Admin
            </button>
        </div>
    </nav>
</div>
